@import '~bootstrap/scss/bootstrap';

$element-background-color: #000;
$element-light-color: #fff;
$table-solid-color: #ddd;
$styled-font: 'Shadows Into Light', cursive, Arial, sans-serif;
$basic-font: 'Nanum Myeongjo', serif;
$page-background-color: #f3e6ff;

.basic-elements,
.extended-elements {
  border: 3px solid $table-solid-color;
  border-collapse: collapse;
  font-family: $basic-font;
  margin-bottom: 50px;
  width: 75%;

  td {
    border: 1px solid $table-solid-color;
    padding: 8px;
  }

  th {
    background-color: $element-background-color;
    border: 1px solid $table-solid-color;
    color: $element-light-color;
    padding: 8px;
    text-align: center;
  }
}

body {
  background-color: $page-background-color;
}

body,
html {
  height: 100%;
}

button {
  background-color: $element-background-color;
  border-radius: 8px;
  color: $element-light-color;
  font-family: $basic-font;
  padding: 12px;
}

// @font-face {
//   font-display: swap;
//   font-family: $basic-font, serif;
//   src: url('./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf');
// }
//
// @font-face {
//   font-display: swap;
//   font-family: $styled-font, cursive, Arial, sans-serif;
//   src: url('./fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
// }

.footer {
  font-family: $styled-font;
  font-size: 12px;
}

.footer-copyright,
.footer-link {
  color: $element-light-color;
  display: inline;
  font-family: $basic-font;
  padding: 0 10px;
  text-decoration: none;
}

.form-label,
input,
textarea,
.yt-link {
  font-family: $basic-font;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-top: 65px;
}

h1,
h2,
h3,
h5 {
  font-family: $styled-font;
}

.header {
  font-family: $styled-font;
  font-size: 20px;
}

.homepage-text {
  font-family: $basic-font;
  padding-top: 20px;
}

.music-note-input {
  box-sizing: border-box;
  height: 100px;
  margin: auto;
  position: relative;
  width: 75%;
}

.sketch-single {
  text-decoration: none;

}

.sketch-list {
  font-family: $basic-font;
  font-size: 24px;
  list-style: none;
  padding: 20px;
 }

.text-last {
  padding-bottom: 30px;
 }
